---
import { allowedLanguages } from "@/config/language";
import BaseLayout from "@layouts/BaseLayout.astro";
import ContentContainer from "@components/ContentContainer.astro";
import { translate, type TextContent } from "@lib/internationalization";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
export const getStaticPaths = (() => {
  return allowedLanguages.map((lang) => ({
    params: { lang },
  }));
}) satisfies GetStaticPaths;

const title: TextContent = {
  es: "Bienvenido a los proyectos",
  en: "Welcome to the projects",
};

const { lang } = Astro.params;

const projects = await getCollection(
  "projects",
  (project) => project.data.lang === lang,
);
---

<BaseLayout lang={lang}>
  <ContentContainer>
    <h1>{translate(title, lang)}</h1>
    <ul>
      {
        projects.map((project) => (
          <li>
            <a href={project.data.pathname}>{project.data.title}</a>
          </li>
        ))
      }
    </ul>
  </ContentContainer>
</BaseLayout>
