---
import type { AllowedLanguage } from "@/config/language";
import { getCSSVars } from "@/config/theme";

interface Props {
  lang: AllowedLanguage;
}
//const { lang } = Astro.props;
---

<main transition:animate="slide">
  <slot />
</main>

<style define:vars={getCSSVars()}>
  main {
    margin-right: 15rem;
    margin-left: 15rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: var(--foregroundColor);
  }
</style>
