---
import type { AllowedLanguage } from "@/config/language";
import { translate, type TextContent } from "@lib/internationalization";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Route {
  pathWithoutLang: string;
  name: TextContent;
}
const routes: Route[] = [
  { pathWithoutLang: "/", name: { en: "Home", es: "Titulo" } },
  { pathWithoutLang: "/about", name: { en: "About", es: "Acerca de" } },
  { pathWithoutLang: "/blog", name: { en: "Blog", es: "Blog" } },
  { pathWithoutLang: "/projects", name: { en: "Projects", es: "Proyectos" } },
];

interface Props {
  lang: AllowedLanguage;
}
const { lang } = Astro.props;
---

<nav>
  <ul>
    {
      routes.map((route) => (
        <li>
          <a href={getRelativeLocaleUrl(lang, route.pathWithoutLang)}>
            {translate(route.name, lang)}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }

  nav {
    background: darkgray;
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
  }
</style>
