---
import { AllowedLanguage, allowedLanguages } from "@/config/language";
import { getCSSVars } from "@/config/theme";
import { removeFirstPathSegment } from "@lib/pathing";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentPathWithoutLang = removeFirstPathSegment(Astro.url.pathname);

interface Props {
  lang: AllowedLanguage;
}
const { lang: currentLang } = Astro.props;
---

<ul>
  {
    allowedLanguages.map((lang) => (
      <li class={currentLang === lang ? "selected" : ""}>
        <a href={getRelativeLocaleUrl(lang, currentPathWithoutLang)}>{lang}</a>
      </li>
    ))
  }
</ul>

<style define:vars={getCSSVars()}>
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  li {
    border-left: 0.15rem solid var(--textColor);
    border-top: 0.15rem solid var(--textColor);
    border-bottom: 0.15rem solid var(--textColor);
    text-align: center;
    min-width: 3.5rem;
    min-height: 2.5rem;
  }

  li:first-of-type {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  li:last-of-type {
    border-right: 0.15rem solid var(--textColor);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .selected {
    background-color: var(--primaryColor);
  }

  a {
    text-decoration: none;
    color: var(--textColor);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
