---
import { allowedLanguages } from "@/config/language";
import BaseLayout from "@layouts/BaseLayout.astro";
import ContentContainer from "@components/ContentContainer.astro";
import { translate, type TextContent } from "@lib/internationalization";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
  return allowedLanguages.map((lang) => ({
    params: { lang },
  }));
}) satisfies GetStaticPaths;

const missingContentMessage: TextContent = {
  es: "No se encontró el contenido",
  en: "Content not found",
};

const { lang } = Astro.params;
---

<BaseLayout lang={lang}>
  <ContentContainer lang={lang}>
    <h1>{translate(missingContentMessage, lang)}</h1>
  </ContentContainer>
</BaseLayout>
