---
import { allowedLanguages } from "@/config/language";
import BaseLayout from "@layouts/BaseLayout.astro";
import ContentContainer from "@components/ContentContainer.astro";
import { translate, type TextContent } from "@lib/internationalization";
import type { GetStaticPaths } from "astro";
import { defaultLightningMode } from "@/config/theme";
export const getStaticPaths = (() => {
  return allowedLanguages.map((lang) => ({
    params: { lang },
  }));
}) satisfies GetStaticPaths;

const title: TextContent = {
  es: "Acerca de mí...",
  en: "About me...",
};

const { lang } = Astro.params;
const mode = defaultLightningMode;
---

<BaseLayout lang={lang} mode={mode}>
  <ContentContainer lang={lang} mode={mode}>
    <h1>{translate(title, lang)}</h1>
  </ContentContainer>
</BaseLayout>
