---
import { allowedLanguages } from "@/config/language";
import BaseLayout from "@layouts/BaseLayout.astro";
import ContentContainer from "@components/ContentContainer.astro";
import { translate, type TextContent } from "@lib/internationalization";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
export const getStaticPaths = (() => {
  return allowedLanguages.map((lang) => ({
    params: { lang },
  }));
}) satisfies GetStaticPaths;

const title: TextContent = {
  es: "Bienvenido al blog",
  en: "Welcome to the blog",
};

const { lang } = Astro.params;

const articles = await getCollection(
  "blog",
  (article) => article.data.lang === lang,
);
---

<BaseLayout lang={lang}>
  <ContentContainer>
    <h1>{translate(title, lang)}</h1>
    <ul>
      {
        articles.map((article) => (
          <li>
            <a href={article.data.pathname}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </ContentContainer>
</BaseLayout>
